<section id="index" class="index pages" ng-controller="indexCtrl" >
    <div class="align-center clearfix">
        <p class="title-logo"><span class="first">Les</span> <span class="second">Loups Garous</span>
            <br/><span class="first">de Thiercelieux</span></p>
        <span class="logo-wolf"><img src="img/visual/hp-loup.png" /></span>
    </div>

    <div class="container">
        <a ng-show="initGame" href="#/serverList" class="btn btn-secondary large">Rejoindre une partie</a>
        <a ng-hide="initGame" href="#/configure" class="btn btn-primary large">Je commence une partie<br/><small>Je suis maître du jeu</small></a>
    </div>
</section>