<section id="inGame" class="inGame pages" ng-controller="meetRoom">
    <div class="headband">Rejoindre une partie</div>
    <div class="container">
        <div class="line">
            <input ng-model="myPseudo" value="myPseudo" type="text" name="namePlayer" placeholder="Votre pseudo" />
        </div>
        <div class="action line">
            <button ng-click="meetRoomFunc()" class="btn btn-save large">S'inscrire à la partie</button>
        </div>
    </div>
</section>