// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.hidden{display:none;}




.uppercase{text-transform:uppercase;}

/*********/

.size(@width, @height) {
  width: @width;
  height: @height;
}

.square(@size) {
  .size(@size, @size);
}

.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}


.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}


.text-shadow(@shadow) {
  -webkit-text-shadow: @shadow; // iOS <4.3 & Android <4.1
  text-shadow: @shadow;
}

.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.placeholder(@color) {
  ::-webkit-input-placeholder {
    color: @color;
  }
  :-moz-placeholder {
    color: @color;
  }
  ::-moz-placeholder {
    color: @color;
  }
}

/**** transition / transformation / animation ****/

.transition(@el: all, @duration:1s, @ease:ease-out, @delay:0s) {
  -webkit-transition: @el @duration @delay @ease;
  -moz-transition: @el @duration @delay @ease;
  -o-transition: @el @duration @delay @ease;
  transition: @el @duration @delay @ease;
}

.transform(@string){
  -webkit-transform: @string;
  -moz-transform: 	 @string;
  -ms-transform: 		 @string;
  -o-transform: 		 @string;
}


.rotation(@deg){
  .transform(rotate(@deg));
}



.gradient (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
