body{background:#fafafa;}

.container{padding:0 1em;margin:0 auto;position:relative;}
.align-center{text-align:center;}

.headband{margin-bottom:1em;border-bottom:1px solid #ddd;padding:.5em;.align-center;background:#fff;line-height:1;.openSans;.em(22px);color:@color2;}