@baseFontSize : 16px;
.openSans{font-family: 'Open Sans Condensed', sans-serif;}
.arial{font-family: 'Arial', sans-serif;}

@color1 : #d3ad78;
@color2 : #191314;
@red : #9B3438;
@grayDark : #797979;



/* path */
@pathImg : "" ; 
