.list-roles{
  max-height:200px;overflow:auto;position:relative;
  &:before/*,&:after*/{height:100px;.box-shadow(0 0 20px rgba(0,0,0,.2));content:"";position:absolute;width:100%;display:block;left:0;z-index:-1;.rounded(30%)}
  &:before{top:-100px;}
  //&:after{bottom:-100px;position:relative;}
  li{max-width:45%;width:100%;float:left;}
  li:nth-child(even){clear:both;margin-right:5%;}
  label{.em(16);margin:.5em 0;}
}