.showHeader{
  background:url(../img/background/fond.jpg) repeat 0 0;padding-top:3em;
  .header{display:none;}
}

.title-logo{
  .rotation(-3deg);.openSans;color:@color1;font-weight:bold;line-height:2em;.text-shadow(0px 5px 5px rgba(0,0,0,.5));
  .first{.em(20px);}
  .second{.em(34px);}
}
.logo-wolf{
  display:block;position:relative;min-height:230px;
  &:before,&:after{content:"";position:absolute}
  &:before{.size(103px,202px);left:0;background:url(../img/visual/hp-left.png) no-repeat;}
  &:after{.size(89px,196px);right:0;background:url(../img/visual/hp-right.png) no-repeat;}
}

.hidden{display: none!important;left:0;}