.btn{
  text-decoration:none;.arial;display:inline-block;vertical-align:middle;text-align:center;.em(16px);padding:.75em 1em;.rounded(5px);
  &.btn-primary{border:1px solid @color2;background:@color2;color:@color1;}
  &.btn-secondary{border:1px solid @color1;color:@color1;}
  &.btn-default{background:@grayDark;border:1px solid @grayDark;color:#fff;}
  &.btn-save{background:@red;color:#fff;border:1px solid @red;}
  &.large{display:block;width:100%;.box-sizing();}
  &+.btn.large{margin-top:1em;}
  small{font-size:.8em;color:#665457;}
}

button img{display:block;} 
