
/****** FORM *****/
.section-form + .section-form{margin-top:2em;}
label{display:inline-block}
.line + .line{margin-top:1.5em;}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=password],
textarea{
  border:1px solid #b4b4b4;
  .box-shadow(0 1px 1px rgba(0,0,0,.1) inset);
  padding:.5em;
  width:100%;display:block;.box-sizing();background:#fff;
  &[disabled]{
    background-color:#d6d3d3;.box-shadow(none);border-color:#d6d3d3;color:black;
  }
}

label{
  .openSans;.em(20px);font-weight:normal;margin-bottom:.3em;position:relative;
  &.checkbox, &.radio{font-weight:normal;font-family: inherit;padding-left:1.5em;}
  span{.em(14px);font-weight:normal;font-family:Arial;}
  input{position:absolute;left:-1000%;}
  input:checked+span:after{top:6px;content:'';.size(10px,10px);background:@red;display:inline-block;position:absolute;left:3px;}
  span:before{position:absolute;top:3px;left:0;margin-right:.5em;content:'';.size(16px,16px);border:1px solid #cecece;background:#fff;display:inline-block}
}
.fake-label{.openSans;font-weight:normal;.em(20px);margin-bottom:.3em;}


input::-webkit-input-placeholder { color: @color2;}
input:-moz-placeholder { color: @color2; }
textarea::-webkit-input-placeholder { color: @color2;}
textarea:-moz-placeholder { color: @color2; }

.radio + .radio, .checkbox + .checkbox{margin:10px 0;}
.radio,.checkbox{
  display:inline-block;
  &.large{
    display:block;
  }
  span{color:@grayDark;}
}

.checkbox{
  padding-left:20px;
}

.action{padding:0 0 1em;}