<section id="configure" class="configure pages" ng-controller="configGameCtrl" >
    <div class="headband">Configurer une partie</div>

    <div class="container">
        <form id="createGame" >
            <button ng-click="initGameFunc()" ng-hide="initGame || guest > 0" class="btn large btn-default openRoom">Ouvrir la session</button>
            <p ng-hide="guest <= 0">En attente de {{guest}} joueurs pour ouvrir une session</p>

            <div ng-show="initGame" class="">
                Liste des joueurs : {{listPlayers.length}}/{{nbPlayer}}

                <ul class="listPlayers">
                    <li ng-repeat="player in listPlayers">{{player}}</li>
                </ul>
            </div>

            <button ng-hide="!initGame && listPlayers.length < 7" class="btn large btn-primary openRoom">Démarrer le jeu</button>
            <!-- Evolution cycle 2 -->
            <!--
                <div class="line">
                    <label>Nom du serveur :</label>
                    <input type="text" name="serverName" />
                </div>"'''''' <div class="line">
                    <label>Nombre de joueurs</label>
                    <input type="number" name="config-players"  />
                </div>
                <div class="line">
                    <label>Nombre de loup garou ?</label>
                    <input type="number" name="config-wolf"  />
                </div>
                <div class="line" >
                    <p class="fake-label">Selectionner les rôles</p>
                    <div id="list-roles-container">
                        <ul class="list-roles clearfix">
                            <li>
                                <label class="checkbox"><input value="{{role}}" type="checkbox" name="config-roles"  /><span>{{role}}</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="line clearfix">
                    <p class="fake-label">Instaurer le maire ?</p>
                    <label class="radio inline col-xs-6 col-md-3"><input type="radio" name="config-maire" value="oui"  /><span>Oui</span></label>
                    <label class="radio inline col-xs-6 col-md-3"><input type="radio" name="config-maire" value="non"  /><span>Non</span></label>
                </div>
            -->

        </form>
    </div>
</section>